<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <setting name="mapUnderscoreToCamelCase" value="true"/>
    </settings>
    <typeAliases>
        <typeAlias alias="User" type="otus.project.horizontal_scaling_chat.master_node.db.dataset.User"/>
        <typeAlias alias="Channel" type="otus.project.horizontal_scaling_chat.master_node.db.dataset.Channel"/>
    </typeAliases>
    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="org.postgresql.Driver"/>
                <property name="url" value="jdbc:postgresql://localhost:5432/test"/>
                <property name="username" value="homestead"/>
                <property name="password" value="secret"/>
            </dataSource>
        </environment>
    </environments>
    <mappers>
        <mapper resource="mybatis/mapper/channel.xml"/>
        <mapper resource="mybatis/mapper/user.xml"/>

        <mapper resource="mybatis/result_map/result_map.xml"/>
    </mappers>
</configuration>